.node-info span{
	display: block;
	margin: 9px 0 0 2px;
	padding: 0 1px 0 1px;
	float: left;
	font-family:arial;
	font-size:11px;
	border-style:solid;
	border-width:1px;
	height:15px;
	overflow:hidden;
}
.node-info .user-rank{
	margin:0px;
	padding:0px;
	border-width:0px;
	height:auto;
}
.node-info .user-id{
	border-color:orange;
	min-width:70px;
	text-align:center;
}
.node-info .user-name{
	border-color:red;
	min-width:70px;
	text-align:center;
}
.node-info .user-activated{
	border-color:green;
	width:100px;
	text-align:center;
}
.node-info .user-inactive{
	color:red;
	border-color:green;
	width:100px;
	text-align:center;
}
.node-info .user-joined{
	border-color:blue;
	min-width:100px;
	text-align:center;
}