/*!
 * dtree.css v1.0.0
 * mefe.net
 * 2014-08-21
 */

/* body
{
    font-family: "Verdana";
    font-size: 11px;
} */

.dTree ul, li
{
    margin:0px;
    padding: 0px;
    list-style-type: none;
}

.dTree a
{
    height: 18px;
    display: inline-block;
    padding-top: 0px;
    color:#000;
    text-decoration: none;
}

/* .text
{
    height: 18px;
    display: inline-block;
    float: left;
    text-decoration: none;
} */


/* li
{
    height: 18px;
    display: block;
    width: 300px;
    line-height: 20px;
} */

li.folder-group
{
    height: auto;
    /**----new css**/
    margin-left: 8px;
    background: url('../images/leaf.png') repeat-y 7px 0;
}

.folder-group ul
{
    padding-left: 20px;
    display: none;
}

.folder
{
    /*background: url('../images/misc.png') 0px -39px no-repeat;*/
    padding-left: 0px;
    height: 18px;
    display: inline-block;
    float: left;
    /*transition: all 0.5s ease-in-out;*/
}

/*.folder-open*/
/*{*/
    /*background: url('../images/misc.png') -21px -39px no-repeat;*/
    /*padding-left: 20px;*/
    /*height: 18px;*/
    /*display: inline-block;*/
    /*float: left;*/
    /*transition: all 0.5s ease-in-out;*/
/*}*/

/* .main
{
    background: url('../images/misc.png') 2px 0 no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
    float: left;
} */

.folder-group
{
    /*background: url('../images/misc.png') -46px -2px repeat-y;*/
}

.folder-group.last
{
    background: none;
}

.plus
{
    background: url('../images/misc.png') 0px -59px no-repeat;
    padding-left: 20px;
    display: inline-block;
    height: 18px;
    float: left;
    margin-top: 6px;
}

.last .plus
{
    background: url('../images/misc.png') 0px -82px no-repeat;
    padding-left: 20px;
    display: inline-block;
    height: 18px;
    float: left;
}

.folder-group.last .minus
{
    background: url('../images/misc.png') -18px -82px no-repeat;
    /*background: url('../images/minus.png') 5px 6px no-repeat;*/
    padding-left: 20px;
    display: inline-block;
    height: 18px;
    float: left;
}


#dashminus
{
    margin-left: 16px;
    width: 12px;
    background: url('../images/leaf_h.png') repeat-x 0 18px;
    float: left
}

.minus
{
    /*background: url('../images/misc.png') -18px -59px no-repeat #fff;*/
    padding-left: 20px;
    display: inline-block;
    height: 18px;
    float: left;
    margin-top: 6px;
}

.page
{
    /*background: url('../images/misc.png') no-repeat;*/
    background: url('../images/leaf_h.png') repeat-x 0 19px;
    width: 12px;
    height: 27px;
    display: inline-block;
    float: left;
}

.join
{
    /*background: url('../images/misc.png') 0 -20px no-repeat;*/
    background: url('../images/leaf.png') repeat-y 15px 0;
    width: 18px;
    height: 32px;
    display: inline-block;
    float: left;
}

/*.join-last .join*/
/*{*/
    /*background: url('../images/misc.png') -18px -20px no-repeat;*/
    /*width: 18px;*/
    /*height: 18px;*/
    /*display: inline-block;*/
    /*float: left;*/
/*}*/