.genealogy-search-form{
	margin-bottom:15px;
}

.genealogy-legend{
	float:left;
	margin:0 0 15px 0;
}
.genealogy-legend .legend-item{
	min-width:170px;
	float:left;
}
.genealogy-legend .legend-item .legend-rank-image{
	float:left;
}
.genealogy-legend .legend-item .legend-rank-text{
	float:left;
	margin:8px 3px 0 3px;
}